<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>To-Do List</title>
</head>
<body>
    <h1>To-Do List</h1>

    <form action="/addTask" method="post">
        <label for="description">New Task:</label>
        <input type="text" id="description" name="description" required>
        <button type="submit">Add Task</button>
    </form>

    <ul>
        <% for (let i = 0; i < tasks.length; i++) { %>
            <li>
                <%= tasks[i] %>
                <a href="/deleteTask/<%= i %>">(Done)</a>
            </li>
        <% } %>
    </ul>

   
    <div class="notification">
    ¡Tarea completada con éxito!
    </div>

    <script src="/todolist.js"></script>
</body>
</html>
